/* bg */
.bgNav{
    background-color: $color-gray;
}
.bgBeige{
    background-color: $color-beige;
}
.bordeBlanco {
    border: solid $color-beige 1em;
    background-color:$color-grayLight;
}
/* termina bg */
