/* EMPIEZA FORM */
.bgForm{
    background: url(../img/bgForm.png);
     -webkit-background-size: cover;
     background-size: cover;
     background-attachment: fixed;
 }
 
 .bgFormDegrade{
     color: $color-black;
     background: linear-gradient(to right, map-get($map: $paletaRed , $key:light ), $color-grayLight);
 
 }
 
 /* TERMINA FORM */
 
 