/* para reciclar */
.wImage{
    width: 50%;
    align-content: center;
    height: 50%;
    align-items: center;
    margin: 1rem 10rem;
    
}
.centrado{
    text-align: center;
    align-items: center;
    align-content: center;
}