/* TEXTOS */
.tituloPrincipal {
    @include texts(2.5rem, 300, 3rem);
    color: map-get($map: $paletaRed , $key:light );
    font-family: $font-roboto;
    text-align: center;
    padding: 1rem;
}
h1 {
    @include texts(3em, 100, 3rem);
    color: map-get($map: $paletaRed , $key:light );
    font-family: $font-roboto;
    text-align: center;
}
h2 {
    @include texts(2em, 100, 1.4rem);
    color: $color-black;
    font-family: $font-roboto;
    text-align: center;
    height: auto;
}

h3 {
    @include texts(2em, 100, 1.4rem);
    color: $color-white;
    font-family: $font-roboto;
    text-align: center;
    height: auto;
    background-color: map-get($map: $paletaRed , $key:light );
    padding: 1em;
}

h4 {
    @include texts(1.8rem, 100, 1.8rem);
    color: $color-black;
    font-family: $font-roboto;
    text-align: center;
}
.textH2 {
    @include texts(2em, 300, 1rem);
    color: $color-white;
    font-family: $font-roboto;
    text-align: center;
    padding: 2rem;
    background-color: map-get($map: $paletaRed , $key:light );
}
.textH3 {
    @include texts(2em, 100, 2.2rem);
    color: $color-black;
    font-family: $font-roboto;
    text-align: center;
    height: auto;
    padding: 0.2rem;
}
.textH4 {
    @include texts(1.4em, 100, 1.6rem);
    color: $color-black;
    font-family: $font-roboto;
    background-color: $color-grayLight
    /* padding: 1rem */;
}
.textCenter {
    text-align: center;
}
/* TERMINA TEXTOS */
a{
    color: $color-black;
    font-family:$font-roboto;
    cursor: pointer;
}
    a:hover{
        color: map-get($map: $paletaRed , $key:light );
        cursor: pointer;
    }
        a {
            color: map-get($map: $paletaRed , $key:dark );
            cursor: pointer;
            color: map-get($map: $paletaRed , $key:dark );
            text-decoration: none;
        }


/** MEDIA **/
@media (max-width: 428px){
    .tituloPrincipal{
        @include texts(1.5rem, 300, 2rem);  
    }
    h3{
        @include texts(1em, 100, 1rem); 
    }
}