
//COLORS//
$color-red: #af0a0a;
$color-redDark:rgb(111, 5, 5);
$color-beige: #f5f5dc;
$color-gray: rgba(155, 155, 155, 0.525);
$color-grayLight: rgba(194, 191, 191, 0.849);
$color-black: #000000;
$color-white: rgb(255, 255, 255);


//FONTS//
$font-roboto:'Roboto', sans-serif;
//mixin//
