body{
    font-family: $font-roboto;
}


ul li a{
    color: $color-black;
    font-family:$font-roboto;
    cursor: pointer;
}
    a:hover{
        color: map-get($map: $paletaRed , $key:light );
        cursor: pointer;
    }
        a {
            color: map-get($map: $paletaRed , $key:dark );
            cursor: pointer;
            color: map-get($map: $paletaRed , $key:dark );
            text-decoration: none;
        }
