/* EMPIEZA FOOTER */
footer {
    background-color: $color-gray;
    list-style: none;
    text-decoration: none;
    padding: auto;
}
.pieRedes {
    list-style: none;
    text-decoration: none;
    text-align: center;
    padding-top: 1em;

}
.ubicacionPie {
    font-size: 1.1em;
    font-family: $font-roboto;
    font-weight: 100;
    text-align: center;
    list-style: none;
    text-decoration: none;
}
.diseñoRonav {
    font-size: 1rem;
    font-weight: 100;
    text-align: center;
    padding: .8em;
    list-style: none;
    text-decoration: none;
}
/* TERMINA FOOTER */
