/* EMPIEZA FOOTER */
footer {
    background-color: $color-gray;
    list-style: none;
    text-decoration: none;
    padding: auto;
}
.pieRedes {
    list-style: none;
    text-decoration: none;
    text-align: center;
    padding-top: 1em;

}

//EXTENDS
.diseñoRonav{
    font-size:1.1em;
    font-weight: 100;
    text-align: center;
    padding: .8em;
    list-style: none;
    text-decoration: none;
}

.ubicacionPie{
    @extend .diseñoRonav;
    font-family: $font-roboto;
}
/* TERMINA FOOTER */
