/* EMPIEZA NAV */
#botonera img{
    width: 200px;
}

nav{
    position: sticky;
    font-family: $font-roboto;
    font-size: 1.7em;
        & ul {
            list-style: none;
            text-decoration:none;
        }
            ul{
                list-style: none;
                text-decoration: none;
            }
                nav ul li {
                    list-style: none;
                    text-decoration: none;
                }
                    & a{
                        color: $color-black;
                        font-family:$font-roboto;
                        text-align: end;
                        cursor: pointer;
                    }
                        a:hover{
                            color: map-get($map: $paletaRed , $key:light );
                            cursor: pointer;
                        }
                            a {
                                color: map-get($map: $paletaRed , $key:dark );
                                cursor: pointer;
                                color: map-get($map: $paletaRed , $key:dark );
                                text-decoration: none;
                            }
}

/* TERMINA NAV */

